body {
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px;
}

h1 {
    display: block;
    width: 100%;
    text-align: center;
    color: #0f3efa;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 12px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
    width: 200px;
    flex-shrink: 0;
}